body {
  background-color: snow;
}

.hideInput {
  display: none;
}

.enableInput {
  display: inline;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 5px;
  background-color: honeydew;
}
